<%= render 'shared/page_title', title: "Sign up for the application"%>

<%= render 'layouts/errors'%>

  <form action="<%=chefs_url%>" method ="POST">
    <div class = "row" >
   <input type="hidden" name ="authenticity_token" value = "<%=form_authenticity_token%>">
   
  <div class="form-group row">
    <label class="col-md-2 col-form-label" style = "padding-top:5px;">Chef Name</label>
    <div class="col-md-8">
      <input type="text" name= "chef[chefname]" class="form-control" placeholder="Enter your name" value ="<%=@chef.chefname%>" autofocus>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-md-2 col-form-label" style = "padding-top:5px;">Email</label>
    <div class="col-md-8">
      <input type="email" name="chef[email]" placeholder = "Enter your email" class="form-control">
    </div>
  </div>
  
  <div class = "form-group row">
    <label class = "col-md-2 col-form-label" style = "padding-top:5px;">Password</label>
    <div class ="col-md-8">
       <input type="password" name="chef[password]" placeholder = "Enter your password" class="form-control">
    </div>
  </div>
  
  <div class = "form-group row">
    <label class = "col-md-2 col-form-label" style = "padding-top:5px;">Confirm password</label>
      <div class ="col-md-8">
       <input type="password" name="chef[password_confirmation]" placeholder = "Confirm password" class="form-control">
    </div>
  </div>
  
  
  <div class ="form-group row">
    <div class ="col-md-offset-2 col-md-10">
       <button type="submit" class="btn btn-primary btn-lg btn-xlarge">Create my account</button>
      </div>
      </div>
      </div>
  </form>
  
  <div class="col-md-4 col-md-offset-4 colormatch">
    [<%=link_to "Cancel request and return to recipes", recipes_url%>]
  </div>