<%=render 'shared/page_title', title: "Recipes"%>
<%= render 'layouts/errors' %>
<div align="center">
  <%= will_paginate %>
</div>

<%=render 'recipe', obj: @recipes%>

<div align="center">
  <%= will_paginate %>
</div>