  <%=render 'layouts/errors'%>
  <%=render 'shared/page_title', title: @recipe.name%>
  <div class="col-md-8 col-md-offset-2 well">
    <h4 class="center description"><strong>Steps: </strong></h4>
    <hr>
    <%= simple_format(@recipe.description)%>
    <hr>
    <% if @recipe.ingredients.any?%>
      <p>Ingredients: <%=render @recipe.ingredients%></p>
    <%end%>
    <div class ="pull-right">
      <p class = "center">
      <em>Created by:</em> 
    </p>
    <p class ="center">
      <%=link_to gravatar_for(@recipe.chef), recipes_path%>
    </p>
    <p class="center">
      <small><%=@recipe.chef.chefname.capitalize%></small>
      <div class ="pull-right"><%=time_ago_in_words(@recipe.created_at)%> ago</div>
    </p>
    </div>
      <div class="recipe-actions">
        
        <% if logged_in? && (current_chef.id == @recipe.chef.id || current_chef.admin?)%>
        <%=link_to "Edit this recipe", edit_recipe_url(@recipe), class: "btn btn-xs btn-warning"%>
        <%=link_to "Delete this recipe", recipe_url(@recipe), method: :delete,
        data: {confirm: "Are you sure want to delete this recipe?"},
        class: "btn btn-xs btn-danger"%>
        <%end%>
        
        <%=link_to "Return to recipe listings", recipes_url, class: "btn btn-xs btn-primary"%>
      </div>
  </div>

<%if logged_in?%>
<form action = "<%=recipe_comments_url(@recipe) %>" method ="POST">
 <div class = "row" >
    <input type="hidden" name ="authenticity_token" value = "<%=form_authenticity_token%>">
  <div class="form-group row">
    <div class="col-md-8 col-md-offset-2">
      <label class="col-md-1 col-form-label"><strong>Comments</strong></label>
      <textarea class="form-control" name="comment[description]" placeholder="Enter your comment here" rows="6"><%=@comment.description%></textarea>
    </div>
  </div>
  
  <div class ="form-group row">
    <div class ="col-md-offset-2 col-md-10">
       <button type="submit" class="btn btn-primary btn-lg btn-xlarge">Submit Comment</button>
      </div>
    </div>
  </div>
  </form>
  <%end%>

  <%if @recipe.comments != 0 %>
    <div class = "row">
      <div class ="col-md-8 col-md-offset-2">
        <h3>Prior Comments:</h3>
        <div id = "messages">
          <%= render partial: 'comments/comments', object: @comments%>
        </div>
      </div>
    </div>
  <%else%>
    <div class="row">
      <div class = "col-md-8 col-md-offset-2">
        <h3>No comments yet!</h3>
      </div>
    </div>
  <%end%>