<%= render 'layouts/errors'%>
<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%=link_to "Sign up for the app", signup_url, class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
      <div class="col-md-4">
        <h2><%=@recipes.first.name.split(" ").map(&:capitalize).join(" ")%></h2>
        <p><%=@recipes.first.description%></p>
        <%if logged_in?%>
        <p><a class="btn btn-secondary btn-xlarge" href="<%=recipe_url(@recipes.second)%>" role="button">View details »</a></p>
        <%else%>
        <p><a class="btn btn-secondary btn-xlarge" href="<%=login_url%>" role="button">View details »</a></p>
        <%end%>
      </div>
      <div class="col-md-4">
        <h2><%=@recipes.second.name.split(" ").map(&:capitalize).join(" ")%></h2>
        <p><%=@recipes.second.description%></p>
        <%if logged_in?%>
        <p><a class="btn btn-secondary btn-xlarge" href="<%=recipe_url(@recipes.second)%>" role="button">View details »</a></p>
        <%else%>
        <p><a class="btn btn-secondary btn-xlarge" href="<%=login_url%>" role="button">View details »</a></p>
        <%end%>
      </div>
      <div class="col-md-4">
        <h2><%=@recipes.last.name.split(" ").map(&:capitalize).join(" ")%></h2>
        <p><%=@recipes.last.description%></p>
        <%if logged_in?%>
        <p><a class="btn btn-secondary btn-xlarge" href="<%=recipe_url(@recipes.second)%>" role="button">View details »</a></p>
        <%else%>
        <p><a class="btn btn-secondary btn-xlarge" href="<%=login_url%>" role="button">View details »</a></p>
        <%end%>
      </div>
  </div>